body {
  /* font-family: 'Comic Sans MS', cursive; */
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

header h1 {
  border: solid 1px white;
  font-size: xxx-large;
}

.container {
  display: flex;
}

.top-left-panel, .top-right-panel, .middle-panel, .bottom-left-panel, .bottom-right-panel {
  text-align: center;
  border: solid 3px #1d3030;
  margin: 5px;
  background-color: #F5F5F5;
}

.top-right-panel, .bottom-left-panel {
  width: 70%;
}

.top-left-panel, .bottom-right-panel {
  width: 30%;
}

/* 真ん中のコマ */
.middle-panel {
  height: 60%;
  width: 100%;
  background-color: #F5F5F5;
}

.main {
  padding-top: 64px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

h2 {
  color: #2F4F4F;
}

footer {
  margin-top: 2em;
  text-align: center;
}
